BODY, TD
{
	font-family: Segoe UI, Verdana;
}
H1
{
	padding: .5em;
	padding-top: 0;
	font-weight: bold;
	font-size: 1.5em;
	border-bottom: 2px solid gray;
	color: #004080;
	background-color: #CCCCCC;
	border-style: double double solid solid;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-bottom-color: gray;
	border-left-color: #C0C0C0;
}
DIV#content
{
	padding: .9em;
}
TABLE.Grid TD, TABLE.Grid TH
{
	border-bottom: 1px dotted gray;
	text-align: left;
	/*background-color: #CCCCFF;*/
	border-style: dotted;
	border-width: thin;
	border-color: #808080 #FFFFFF #808080 #FFFFFF;
	font-family: 'Times New Roman' , Times, serif;
	color: #000000;
}
TABLE.Grid { border-collapse: collapse; width:100%; } 
TABLE.Grid TH.NumericCol, Table.Grid TD.NumericCol {
text-align: right; padding-right: 1em; }
DIV.Message
{
	background-position: #EAEAEA;
	border-style: double none double none;
	background: #EAEAEA;
	color: #004080;
	padding: .2em;
	margin-top: .25em;
	text-decoration: none;
	font-family: 'Times New Roman' , Times, serif;
	font-size: medium;
	font-weight: bolder;
	text-align: right;
} 
.field-validation-error { color: red; }
.input-validation-error { border: 1px solid red; background-color: #ffeeee; }
.validation-summary-errors { font-weight: bold; color: red; }